
* {
  padding: 0;
  margin: 0;
  border: 0;
}

html{
  display: flex;
  align-items: center;
  justify-content: center;

}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background: -webkit-linear-gradient(90deg, #f5edf0,#dcbddf,#9a99e1,#008bd0);
  background: linear-gradient(90deg, #f5edf0,#dcbddf,#9a99e1,#008bd0);
}

.diag{
  margin-left: 300px;
  display: flex;
  align-items: center;
}